/*ID selectors*/
#center {
    text-align: center;
}

/*classes selectors*/

.ingredients {
    background-color: antiquewhite;
    width: 700px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.special-width {
    width: 700px;
}

.light-background {
    background-color: aliceblue
}

.steps {
    background-color: rgb(211, 243, 243);
    width: 700px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;

}

.button {
    color: white;
    background-color: rgb(218, 161, 7);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Type selectors*/
h1 {
    width: 700px;
    background-color: lavenderblush;
    text-align: center;
    font-family: serif;
    padding: 10px;
    margin-bottom: 30px;
}

h3 {
    color: darkorange;
    background-color: aliceblue;
    width: 700px;
    font-family: serif, Arial, Helvetica, sans-serif;
    padding: 2px;
    margin-bottom: 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
}

img {
    height: auto;
    width: 600px;
    margin-bottom: 20px;
}


/*Universal selector*/
* {

    font-family: Arial, Helvetica, sans-serif;

}










